<div class="container">
  <div class="ui card">
    <h1>Team Generator</h1>
    <ul class="list">
      <li *ngFor="let m of members">
        {{m}}
      </li>
    </ul>
    <div class="add-members-container">
      <input
      #addMemberInput
       type="text" placeholder="Name"
      
      (input) = "onInput(addMemberInput.value)"
      [value] = "newListMemberName"
      />
      <button
      (click) = "addMembers()" >
      Add
    </button>
    </div>
    <div class="input-container">
      <input type="text" placeholder="# of Teams" 
      #numberOfTeamsInput
      (input) = "noOfTeamsInput(numberOfTeamsInput.value)"
      [value] = "numberOfTeams"
      />
      <button
      (click)="generateTeams()"
      > Generate </button>
    </div>
    <p class="error-msg" *ngIf="errorMessage">{{errorMessage}}</p>
  </div>
</div>
